<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <header>
        <h1 href="/" class="logo"><a>NORDIC ROSE</a></h1>
        <nav>
            <h3><a href="/">All</a></h3>
            <h3><a href="">NEW ARTICLE</a></h3>
        </nav>
    </header>
</body>

</html>